In [111]:
#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install sklearn
#!pip install seaborn
#!pip install ipywidgets widgetsnbextension IProgress pandas_profiling
#!!pip install catboost

In [2]:
import sys

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pd.set_option('display.max_columns', 100)

In [5]:
data = pd.read_csv("../../models_v3.csv", na_values=['–','—', '-', 'None'])

# 1. Первичный анализ данных

### Вывод статистик по датасету

In [6]:
data.shape

(81774, 47)

In [7]:
data.head()

,URL,Name,Bio,Subscribers,Videos_views,Pornhub_rank,Model_rank,Public_videos,Paid_videos,Fan_club_material,Verified_pornstar,Verified_member,Premium_user,Pornhub_awards_winner,Age,Background,Birthday,Birthplace,Born,Career Start and End,Career Status,City and Country,Endowment,Ethnicity,Eye Color,Facial Hair,Fake Boobs,Foreskin,Gender,Hair Color,Height,Weight,Interested in,Interests and hobbies,Joined,Measurements,Piercings,Pornstar Profile Views,Profile Views,Relationship status,Star Sign,Tattoos,Turn Offs,Turn Ons,Video Views,Videos Watched,Hometown
0,http://pornhub.com/model/mini-diva,Mini Diva,Hey there! You can call me Mini Diva. I love s...,820K,"364,041,175",11,1.0,65.0,7.0,107.0,0,1,1,0,26.0,NaN,"Aug 6, 1994",Czech Republic,NaN,NaN,NaN,"Heaven, Europe",NaN,White,NaN,NaN,No,NaN,Female,Brunette,"5' 6"" (167cm)",111lbs. (50kg),Guys and Girls,Boring AF.,2 years ago,35-25-36,Yes,NaN,"59,460,751",Single,NaN,No,Dunno what can turn me off.,"When you watching me, fucking love it!","364,041,175","1,057",Prague
1,http://pornhub.com/model/yinyleon,yinyleon,We will try to bring you the best fuck that we...,586K,"510,938,330",21,2.0,140.0,1.0,NaN,0,1,1,0,36.0,NaN,"Jun 1, 1984",NaN,NaN,NaN,NaN,"United states, United States",NaN,NaN,NaN,NaN,NaN,NaN,Couple,NaN,NaN,NaN,Guys and Girls,"I love to go to the gym, running, hiking, fuck...",1 year ago,NaN,NaN,NaN,"67,129,229",Taken,NaN,NaN,NaN,My biggest turn on is when I get my ass and pu...,"510,938,330","1,422",NaN
2,http://pornhub.com/model/crystal-lust,Crystal Lust,Cum see more of me on Onlyfans.com/LustCrystal...,433K,"346,726,146",29,4.0,104.0,69.0,173.0,0,1,1,0,24.0,NaN,"Oct 7, 1996",NaN,NaN,NaN,NaN,"Miami, United States",NaN,NaN,NaN,NaN,NaN,NaN,Female,Brunette,"5' 2"" (157cm)",NaN,Guys and Girls,NaN,1 year ago,42-32-50,NaN,NaN,"50,243,658",Taken,NaN,NaN,NaN,Getting fucked in the ass Onlyfans.com/LustCry...,"346,726,146",560,NaN
3,http://pornhub.com/model/solazola,Solazola,"Hi, guys) We hope that you LOVE SEX as much as...",748K,"234,093,027",32,5.0,50.0,14.0,181.0,0,1,0,0,21.0,NaN,"Dec 12, 1999",NaN,NaN,NaN,NaN,"Tallinn, Estonia",NaN,White,NaN,NaN,No,NaN,Couple,Brunette,"5' 8"" (172cm)",111lbs. (50kg),Guys and Girls,"Sport, snowboarding, movies, fashion, food, pl...",2 years ago,34-24-36,No,NaN,"56,041,576",Taken,NaN,Yes,NaN,blowjobs (love this action),"234,093,027","1,059",NaN
4,http://pornhub.com/model/dickforlily,DickForLily,just a couple who loves to fuck and gets off o...,596K,"357,380,610",43,7.0,175.0,23.0,17.0,0,1,0,0,22.0,NaN,"Oct 5, 1998",NaN,NaN,NaN,NaN,"New York, United States",NaN,White,NaN,NaN,No,NaN,Couple,Brunette,"5' 7"" (170cm)",117lbs. (53kg),Guys and Girls,"I love hiking, sucking dick, fucking and trave...",2 years ago,34-35-25,No,NaN,"44,344,938",Taken,NaN,No,avaricious and hypocritical people,"Men in suits , expensive cars , cute guys","357,380,610","3,391",NaN

In [8]:
data.describe()

,Pornhub_rank,Model_rank,Public_videos,Paid_videos,Fan_club_material,Verified_pornstar,Verified_member,Premium_user,Pornhub_awards_winner,Age,Background,Born,Career Start and End,Career Status,Eye Color,Pornstar Profile Views,Star Sign
count,81774.000000,81610.000000,79561.000000,28760.000000,17517.000000,81774.0,81774.0,81774.000000,81774.000000,80229.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,56429.579463,41934.357946,13.392353,7.841620,23.928355,0.0,1.0,0.032651,0.000024,27.804073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,26974.421003,24732.503639,36.149875,35.140148,130.965379,0.0,0.0,0.177722,0.004945,26.484533,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,11.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.0,0.000000,0.000000,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,34496.250000,20816.250000,3.000000,1.000000,2.000000,0.0,1.0,0.000000,0.000000,22.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,58344.500000,41406.500000,6.000000,2.000000,5.000000,0.0,1.0,0.000000,0.000000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,79600.750000,62285.750000,13.000000,4.000000,15.000000,0.0,1.0,0.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,100240.000000,134458.000000,2910.000000,2268.000000,7570.000000,0.0,1.0,1.000000,1.000000,2020.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81774 entries, 0 to 81773
Data columns (total 47 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   URL                     81774 non-null  object
 1   Name                    81774 non-null  object
 2   Bio                     58845 non-null  object
 3   Subscribers             81774 non-null  object
 4   Videos_views            81774 non-null  object
 5   Pornhub_rank            81774 non-null  int64
 6   Model_rank              81610 non-null  float64
 7   Public_videos           79561 non-null  float64
 8   Paid_videos             28760 non-null  float64
 9   Fan_club_material       17517 non-null  float64
 10  Verified_pornstar       81774 non-null  int64
 11  Verified_member         81774 non-null  int64
 12  Premium_user            81774 non-null  int64
 13  Pornhub_awards_winner   81774 non-null  int64
 14  Age                     80229 non-null  float64
 15  Background              0 non-null      float64
 16  Birthday                80209 non-null  object
 17  Birthplace              26683 non-null  object
 18  Born                    0 non-null      float64
 19  Career Start and End    0 non-null      float64
 20  Career Status           0 non-null      float64
 21  City and Country        56467 non-null  object
 22  Endowment               6516 non-null   object
 23  Ethnicity               32426 non-null  object
 24  Eye Color               0 non-null      float64
 25  Facial Hair             6991 non-null   object
 26  Fake Boobs              19612 non-null  object
 27  Foreskin                7064 non-null   object
 28  Gender                  81771 non-null  object
 29  Hair Color              28856 non-null  object
 30  Height                  28125 non-null  object
 31  Weight                  22984 non-null  object
 32  Interested in           76655 non-null  object
 33  Interests and hobbies   27852 non-null  object
 34  Joined                  81774 non-null  object
 35  Measurements            7913 non-null   object
 36  Piercings               27064 non-null  object
 37  Pornstar Profile Views  0 non-null      float64
 38  Profile Views           81774 non-null  object
 39  Relationship status     81168 non-null  object
 40  Star Sign               0 non-null      float64
 41  Tattoos                 28806 non-null  object
 42  Turn Offs               21765 non-null  object
 43  Turn Ons                30725 non-null  object
 44  Video Views             81551 non-null  object
 45  Videos Watched          81145 non-null  object
 46  Hometown                14848 non-null  object
dtypes: float64(12), int64(5), object(30)
memory usage: 29.3+ MB

### Подготовка датасета (удаление NaN)

In [10]:
def first_value_less(na_stats_sorted, num):
    return [i for i, e in enumerate(list(na_stats_sorted.values)) if e <= num][0]

def find_persentage_of_nan(data):
    na_info = data.isnull()
    sum_na_info = na_info.sum()
    na_stats = sum_na_info / data.shape[0] * 100
    na_stats_sorted = na_stats.sort_values(ascending=False)
    return na_stats_sorted

In [11]:
# находим кол-во nan значений в даттасете в процентах
na_stats_sorted = find_persentage_of_nan(data)
na_stats_sorted

Eye Color                 100.000000
Career Status             100.000000
Career Start and End      100.000000
Star Sign                 100.000000
Pornstar Profile Views    100.000000
Born                      100.000000
Background                100.000000
Endowment                  92.031697
Facial Hair                91.450828
Foreskin                   91.361557
Measurements               90.323330
Hometown                   81.842639
Fan_club_material          78.578766
Fake Boobs                 76.016827
Turn Offs                  73.383961
Weight                     71.893267
Birthplace                 67.369824
Piercings                  66.903906
Interests and hobbies      65.940274
Height                     65.606427
Paid_videos                64.829897
Tattoos                    64.773644
Hair Color                 64.712500
Turn Ons                   62.426933
Ethnicity                  60.346809
City and Country           30.947489
Bio                        28.039475
Interested in               6.259936
Public_videos               2.706239
Birthday                    1.913811
Age                         1.889354
Videos Watched              0.769193
Relationship status         0.741067
Video Views                 0.272703
Model_rank                  0.200553
Gender                      0.003669
Subscribers                 0.000000
Videos_views                0.000000
Pornhub_rank                0.000000
Name                        0.000000
Profile Views               0.000000
Verified_pornstar           0.000000
Joined                      0.000000
Verified_member             0.000000
Premium_user                0.000000
Pornhub_awards_winner       0.000000
URL                         0.000000
dtype: float64

In [12]:
# удаляем столбцы, в которых пропущенных значений больше 25%
persentage = 25
columns_for_drop = list(na_stats_sorted.index)[:first_value_less(na_stats_sorted, persentage)]
print("Columns for drop:")
print(columns_for_drop)

data_pre = data.drop(columns_for_drop, axis = 1)

Columns for drop:
['Eye Color', 'Career Status', 'Career Start and End', 'Star Sign', 'Pornstar Profile Views', 'Born', 'Background', 'Endowment', 'Facial Hair', 'Foreskin', 'Measurements', 'Hometown', 'Fan_club_material', 'Fake Boobs', 'Turn Offs', 'Weight', 'Birthplace', 'Piercings', 'Interests and hobbies', 'Height', 'Paid_videos', 'Tattoos', 'Hair Color', 'Turn Ons', 'Ethnicity', 'City and Country', 'Bio']

In [13]:
# снова выводим проценты
na_stats_sorted = find_persentage_of_nan(data_pre)
na_stats_sorted

Interested in            6.259936
Public_videos            2.706239
Birthday                 1.913811
Age                      1.889354
Videos Watched           0.769193
Relationship status      0.741067
Video Views              0.272703
Model_rank               0.200553
Gender                   0.003669
Profile Views            0.000000
Joined                   0.000000
URL                      0.000000
Name                     0.000000
Premium_user             0.000000
Verified_member          0.000000
Verified_pornstar        0.000000
Pornhub_rank             0.000000
Videos_views             0.000000
Subscribers              0.000000
Pornhub_awards_winner    0.000000
dtype: float64

In [14]:
# теперь удаляем строчки, в которых есть пропущенные значения
persentage = 0
columns_for_dropna = list(na_stats_sorted.index)[:first_value_less(na_stats_sorted, persentage)]
print("Columns for dropna:")
print(columns_for_dropna)

data_pre = data_pre.dropna(subset=columns_for_dropna)

Columns for dropna:
['Interested in', 'Public_videos', 'Birthday', 'Age', 'Videos Watched', 'Relationship status', 'Video Views', 'Model_rank', 'Gender']

In [15]:
# удаляем столбец "URL" так как он не несет за собой смысловой значимости
data_pre = data_pre.drop(["URL"], axis=1)

In [16]:
# делаем последний поиск nan значений
find_persentage_of_nan(data_pre)

Name                     0.0
Age                      0.0
Video Views              0.0
Relationship status      0.0
Profile Views            0.0
Joined                   0.0
Interested in            0.0
Gender                   0.0
Birthday                 0.0
Pornhub_awards_winner    0.0
Subscribers              0.0
Premium_user             0.0
Verified_member          0.0
Verified_pornstar        0.0
Public_videos            0.0
Model_rank               0.0
Pornhub_rank             0.0
Videos_views             0.0
Videos Watched           0.0
dtype: float64

In [17]:
data_pre_copy = data_pre.copy()

### Производим препроцессинг

In [18]:
from sklearn import preprocessing

In [19]:
encoders = {}
for c in data_pre.columns:
    encoder = preprocessing.LabelEncoder()
    encoder.fit(data_pre[c])
    data_pre[c] = encoder.transform(data_pre[c])
    encoders[c] = encoder

### Рисуем графики

In [20]:
import pandas_profiling

In [21]:
import seaborn as sns

In [22]:
fig, ax = plt.subplots(figsize=(15,15))
sns.heatmap(data_pre.corr(), fmt="f", vmin=-1, vmax=1, ax=ax)

In [23]:
data_pre.corr()

,Name,Subscribers,Videos_views,Pornhub_rank,Model_rank,Public_videos,Verified_pornstar,Verified_member,Premium_user,Pornhub_awards_winner,Age,Birthday,Gender,Interested in,Joined,Profile Views,Relationship status,Video Views,Videos Watched
Name,1.000000,0.000387,0.004373,0.075488,0.073779,-0.004221,NaN,NaN,-0.012272,-0.003627,0.016945,-0.004122,-0.003181,-0.014771,0.027371,-0.007033,0.007687,0.004373,-0.004905
Subscribers,0.000387,1.000000,-0.001540,0.002370,0.003129,-0.006393,NaN,NaN,0.001039,0.000819,-0.002183,0.002300,-0.000910,0.003039,-0.002127,0.032750,-0.002647,-0.001540,0.000855
Videos_views,0.004373,-0.001540,1.000000,-0.016000,-0.016177,0.001795,NaN,NaN,-0.001428,-0.000557,0.009822,-0.000695,0.008960,-0.008392,0.001848,0.020267,-0.004213,1.000000,-0.010864
Pornhub_rank,0.075488,0.002370,-0.016000,1.000000,0.981611,-0.344025,NaN,NaN,-0.035853,-0.009066,0.010829,0.003374,0.129758,-0.130988,-0.002019,-0.058220,0.000113,-0.016000,-0.010112
Model_rank,0.073779,0.003129,-0.016177,0.981611,1.000000,-0.346085,NaN,NaN,-0.036026,-0.009026,0.009198,0.003012,0.128241,-0.128163,-0.003227,-0.059732,0.002649,-0.016177,-0.011300
Public_videos,-0.004221,-0.006393,0.001795,-0.344025,-0.346085,1.000000,NaN,NaN,0.054832,0.011962,0.125553,-0.007104,-0.012580,0.010956,0.028500,0.030359,-0.004410,0.001795,0.003091
Verified_pornstar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Verified_member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Premium_user,-0.012272,0.001039,-0.001428,-0.035853,-0.036026,0.054832,NaN,NaN,1.000000,0.013469,0.075071,-0.002286,0.019916,-0.035678,0.032833,-0.004701,-0.000443,-0.001428,-0.010237
Pornhub_awards_winner,-0.003627,0.000819,-0.000557,-0.009066,-0.009026,0.011962,NaN,NaN,0.013469,1.000000,-0.004236,0.007208,-0.003894,-0.001788,-0.002612,-0.001050,0.002612,-0.000557,-0.009070
Age,0.016945,-0.002183,0.009822,0.010829,0.009198,0.125553,NaN,NaN,0.075071,-0.004236,1.000000,0.006185,0.075094,-0.085347,0.050117,0.006968,-0.031159,0.009822,0.000240
Birthday,-0.004122,0.002300,-0.000695,0.003374,0.003012,-0.007104,NaN,NaN,-0.002286,0.007208,0.006185,1.000000,0.002412,-0.001012,0.002063,-0.004063,-0.007751,-0.000695,0.001149
Gender,-0.003181,-0.000910,0.008960,0.129758,0.128241,-0.012580,NaN,NaN,0.019916,-0.003894,0.075094,0.002412,1.000000,-0.351604,0.024365,0.007392,-0.165201,0.008960,-0.006548
Interested in,-0.014771,0.003039,-0.008392,-0.130988,-0.128163,0.010956,NaN,NaN,-0.035678,-0.001788,-0.085347,-0.001012,-0.351604,1.000000,-0.022998,-0.004363,-0.017492,-0.008392,0.008539
Joined,0.027371,-0.002127,0.001848,-0.002019,-0.003227,0.028500,NaN,NaN,0.032833,-0.002612,0.050117,0.002063,0.024365,-0.022998,1.000000,-0.006248,-0.017552,0.001848,-0.008258
Profile Views,-0.007033,0.032750,0.020267,-0.058220,-0.059732,0.030359,NaN,NaN,-0.004701,-0.001050,0.006968,-0.004063,0.007392,-0.004363,-0.006248,1.000000,0.000952,0.020267,0.003699
Relationship status,0.007687,-0.002647,-0.004213,0.000113,0.002649,-0.004410,NaN,NaN,-0.000443,0.002612,-0.031159,-0.007751,-0.165201,-0.017492,-0.017552,0.000952,1.000000,-0.004213,0.007718
Video Views,0.004373,-0.001540,1.000000,-0.016000,-0.016177,0.001795,NaN,NaN,-0.001428,-0.000557,0.009822,-0.000695,0.008960,-0.008392,0.001848,0.020267,-0.004213,1.000000,-0.010864
Videos Watched,-0.004905,0.000855,-0.010864,-0.010112,-0.011300,0.003091,NaN,NaN,-0.010237,-0.009070,0.000240,0.001149,-0.006548,0.008539,-0.008258,0.003699,0.007718,-0.010864,1.000000

In [24]:
# в данной таблице кореляции есть таблицы которые имеют только 1 вариант значения
# и изза того что в формуле вычисления кореляции есть деление на (n-1)
# в следствии чего у нас появляется деление на 0 и мы получаем NaN

In [25]:
bad_columns = ["Video Views", "Verified_pornstar", "Verified_member"]

In [26]:
data_pre = data_pre.drop(bad_columns, axis = 1)

# 2 Модели

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
Y = data_pre["Gender"]

In [29]:
X = data_pre.drop(["Gender"], axis=1)

In [30]:
x_train, x_test, y_train, y_test = \
    train_test_split(X, Y, test_size=0.33, random_state=2021)

In [31]:
fig, ax = plt.subplots(figsize=(5,5))
y_train.hist(ax=ax)

In [32]:
fig, ax = plt.subplots(figsize=(5,5))
y_test.hist(ax=ax)

### KNN

In [34]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
knn = KNeighborsClassifier(n_neighbors=100)

In [37]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=100)

In [38]:
predicted = knn.predict(x_test)

In [39]:
accuracy_score(y_test, predicted)

0.4880086905657224

In [40]:
target_names = encoders['Gender'].inverse_transform(sorted(data_pre['Gender'].unique()))

In [41]:
print(classification_report(y_test, predicted, target_names=target_names))

              precision    recall  f1-score   support

     Company       0.00      0.00      0.00         1
      Couple       0.42      0.01      0.01      4889
      Female       0.49      0.90      0.64     11393
       Group       0.00      0.00      0.00         1
        Male       0.45      0.21      0.28      6852
  Non-Binary       0.00      0.00      0.00        57
       Other       0.00      0.00      0.00       197
   Trans Man       0.00      0.00      0.00       122
 Trans Woman       0.00      0.00      0.00       422

    accuracy                           0.49     23934
   macro avg       0.15      0.12      0.10     23934
weighted avg       0.45      0.49      0.39     23934

In [71]:
def plot_acc(x_ax, y_ax):
    plt.plot(x_ax, y_ax)
    plt.xlabel('n_neighbors')
    plt.ylabel('mean_test_score')

In [72]:
n_neighbors = np.arange(10, 20, 5)
knn_grid = GridSearchCV(KNeighborsClassifier(), {'n_neighbors': n_neighbors})

In [73]:
knn_grid.fit(x_train, y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([10, 15])})

In [74]:
cv_res = knn_grid.cv_results_['mean_test_score']

In [75]:
plot_acc(n_neighbors, cv_res)

In [76]:
predicted = knn_grid.predict(x_test)

In [77]:
print(classification_report(y_test, predicted, target_names=target_names))

              precision    recall  f1-score   support

     Company       0.00      0.00      0.00         1
      Couple       0.26      0.11      0.15      4889
      Female       0.50      0.77      0.60     11393
       Group       0.00      0.00      0.00         1
        Male       0.40      0.26      0.31      6852
  Non-Binary       0.00      0.00      0.00        57
       Other       0.00      0.00      0.00       197
   Trans Man       0.00      0.00      0.00       122
 Trans Woman       0.00      0.00      0.00       422

    accuracy                           0.46     23934
   macro avg       0.13      0.13      0.12     23934
weighted avg       0.40      0.46      0.41     23934

### RandomForest

In [78]:
from sklearn.ensemble import RandomForestClassifier

In [79]:
#forest = RandomForestClassifier(max_depth=40, random_state=0)
max_depth = np.arange(1, 3)
forest = GridSearchCV(RandomForestClassifier(random_state=0),{'max_depth': max_depth})

In [80]:
forest.fit(x_train, y_train)

GridSearchCV(estimator=RandomForestClassifier(random_state=0),
             param_grid={'max_depth': array([1, 2])})

In [81]:
predicted = forest.predict(x_test)

In [82]:
cv_res = forest.cv_results_['mean_test_score']

In [83]:
plot_acc(max_depth, cv_res)

In [84]:
print(classification_report(y_test, predicted, target_names=target_names))

              precision    recall  f1-score   support

     Company       0.00      0.00      0.00         1
      Couple       0.00      0.00      0.00      4889
      Female       0.63      0.96      0.76     11393
       Group       0.00      0.00      0.00         1
        Male       0.76      0.73      0.75      6852
  Non-Binary       0.00      0.00      0.00        57
       Other       0.00      0.00      0.00       197
   Trans Man       0.00      0.00      0.00       122
 Trans Woman       0.00      0.00      0.00       422

    accuracy                           0.67     23934
   macro avg       0.15      0.19      0.17     23934
weighted avg       0.52      0.67      0.58     23934

### DecisionTree

In [86]:
from sklearn.tree import DecisionTreeClassifier

In [87]:
#tree = DecisionTreeClassifier(max_depth=5, random_state=0)
max_depth = np.arange(1, 3)
tree = GridSearchCV(DecisionTreeClassifier(random_state=0), {'max_depth':max_depth} )

In [88]:
tree.fit(x_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(random_state=0),
             param_grid={'max_depth': array([1, 2])})

In [89]:
predicted = tree.predict(x_test)

In [90]:
cv_res = tree.cv_results_['mean_test_score']

In [91]:
plot_acc(max_depth, cv_res)

In [92]:
print(classification_report(y_test, predicted, target_names=target_names))

              precision    recall  f1-score   support

     Company       0.00      0.00      0.00         1
      Couple       0.45      0.19      0.27      4889
      Female       0.65      0.96      0.77     11393
       Group       0.00      0.00      0.00         1
        Male       0.86      0.62      0.72      6852
  Non-Binary       0.00      0.00      0.00        57
       Other       0.00      0.00      0.00       197
   Trans Man       0.00      0.00      0.00       122
 Trans Woman       0.00      0.00      0.00       422

    accuracy                           0.67     23934
   macro avg       0.22      0.20      0.20     23934
weighted avg       0.64      0.67      0.63     23934

### GaussianNB

In [96]:
from sklearn.naive_bayes import GaussianNB

In [95]:
#gauss = GaussianNB(var_smoothing=0.00000000001)
var_smoothing = np.arange(0.00000000001, 0.00000000003, 0.00000000001)
gauss = GridSearchCV(GaussianNB(), {'var_smoothing':var_smoothing})

In [97]:
gauss.fit(x_train, y_train)

GridSearchCV(estimator=GaussianNB(),
             param_grid={'var_smoothing': array([1.e-11, 2.e-11, 3.e-11])})

In [98]:
predicted = gauss.predict(x_test)

In [99]:
cv_res = gauss.cv_results_['mean_test_score']

In [100]:
plot_acc(var_smoothing, cv_res)

In [101]:
print(classification_report(y_test, predicted, target_names=target_names))

              precision    recall  f1-score   support

     Company       0.00      0.00      0.00         1
      Couple       0.47      0.11      0.18      4889
      Female       0.65      0.89      0.75     11393
       Group       0.00      0.00      0.00         1
        Male       0.72      0.72      0.72      6852
  Non-Binary       0.00      0.00      0.00        57
       Other       0.01      0.01      0.01       197
   Trans Man       0.00      0.00      0.00       122
 Trans Woman       0.00      0.00      0.00       422

    accuracy                           0.65     23934
   macro avg       0.21      0.19      0.18     23934
weighted avg       0.61      0.65      0.60     23934

### LogisticRegression

In [102]:
from sklearn.linear_model import LogisticRegression

In [104]:
#logreg = LogisticRegression()
C = np.arange(0.5, 1.5, 0.5)
logreg = GridSearchCV(LogisticRegression(), {'C':C})

In [105]:
logreg.fit(x_train, y_train)

GridSearchCV(estimator=LogisticRegression(),
             param_grid={'C': array([0.5, 1. ])})

In [106]:
predicted = logreg.predict(x_test)

In [107]:
cv_res = logreg.cv_results_['mean_test_score']

In [108]:
plot_acc(C, cv_res)

In [109]:
print(classification_report(y_test, predicted, target_names=target_names))

              precision    recall  f1-score   support

     Company       0.00      0.00      0.00         1
      Couple       0.00      0.00      0.00      4889
      Female       0.48      0.92      0.63     11393
       Group       0.00      0.00      0.00         1
        Male       0.38      0.12      0.18      6852
  Non-Binary       0.00      0.00      0.00        57
       Other       0.00      0.00      0.00       197
   Trans Man       0.00      0.00      0.00       122
 Trans Woman       0.00      0.00      0.00       422

    accuracy                           0.47     23934
   macro avg       0.10      0.11      0.09     23934
weighted avg       0.34      0.47      0.35     23934

### CatBoost (Бустим кота)

In [112]:
from catboost import CatBoostClassifier

In [114]:
#catboost = CatBoostClassifier(iterations=3, depth=5, learning_rate=0.595)
iterations = np.arange(2, 4)
depth = np.arange(4, 6)
catboost = GridSearchCV(CatBoostClassifier(), {'iterations':iterations, 'depth':depth})

In [115]:
catboost.fit(x_train, y_train)

Learning rate set to 0.5
0:	learn: 1.0361697	total: 181ms	remaining: 181ms
1:	learn: 0.9156309	total: 221ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0305976	total: 34.9ms	remaining: 34.9ms
1:	learn: 0.9075953	total: 57.5ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0345524	total: 40.6ms	remaining: 40.6ms
1:	learn: 0.9119021	total: 66.8ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0358902	total: 40ms	remaining: 40ms
1:	learn: 0.9126627	total: 61.6ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0354144	total: 37.2ms	remaining: 37.2ms
1:	learn: 0.9148050	total: 65.1ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0361697	total: 47.6ms	remaining: 95.1ms
1:	learn: 0.9156309	total: 82.5ms	remaining: 41.2ms
2:	learn: 0.8727403	total: 115ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0305976	total: 25.1ms	remaining: 50.3ms
1:	learn: 0.9075953	total: 47.8ms	remaining: 23.9ms
2:	learn: 0.8648692	total: 67.2ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0345524	total: 31.4ms	remaining: 62.8ms
1:	learn: 0.9119021	total: 53.7ms	remaining: 26.8ms
2:	learn: 0.8665710	total: 79.3ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0358902	total: 28.5ms	remaining: 56.9ms
1:	learn: 0.9126627	total: 49.5ms	remaining: 24.7ms
2:	learn: 0.8681440	total: 70.6ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0354144	total: 36.2ms	remaining: 72.4ms
1:	learn: 0.9148050	total: 57ms	remaining: 28.5ms
2:	learn: 0.8732166	total: 77ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0382167	total: 39.5ms	remaining: 39.5ms
1:	learn: 0.9115791	total: 65.8ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0291586	total: 40.8ms	remaining: 40.8ms
1:	learn: 0.9100412	total: 65.6ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0367430	total: 34.6ms	remaining: 34.6ms
1:	learn: 0.9099199	total: 59.7ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0380052	total: 59.3ms	remaining: 59.3ms
1:	learn: 0.9104417	total: 84.7ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0373271	total: 31.7ms	remaining: 31.7ms
1:	learn: 0.9128546	total: 58.1ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0382167	total: 28.8ms	remaining: 57.6ms
1:	learn: 0.9115791	total: 54.1ms	remaining: 27.1ms
2:	learn: 0.8668747	total: 80.3ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0291586	total: 39.8ms	remaining: 79.7ms
1:	learn: 0.9100412	total: 66.2ms	remaining: 33.1ms
2:	learn: 0.8672758	total: 93ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0367430	total: 29.7ms	remaining: 59.4ms
1:	learn: 0.9099199	total: 54.7ms	remaining: 27.3ms
2:	learn: 0.8624154	total: 79.6ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0380052	total: 28.8ms	remaining: 57.5ms
1:	learn: 0.9104417	total: 55.1ms	remaining: 27.5ms
2:	learn: 0.8664489	total: 80.2ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0373271	total: 33.6ms	remaining: 67.1ms
1:	learn: 0.9128546	total: 61.5ms	remaining: 30.7ms
2:	learn: 0.8667182	total: 87.1ms	remaining: 0us
Learning rate set to 0.5
0:	learn: 1.0358403	total: 39.8ms	remaining: 79.6ms
1:	learn: 0.9091721	total: 71.9ms	remaining: 35.9ms
2:	learn: 0.8644591	total: 101ms	remaining: 0us

GridSearchCV(estimator=<catboost.core.CatBoostClassifier object at 0x000001FAB7772D30>,
             param_grid={'depth': array([4, 5]), 'iterations': array([2, 3])})

In [116]:
predicted = catboost.predict(x_test)

In [118]:
print(classification_report(y_test, predicted, target_names=target_names))

              precision    recall  f1-score   support

     Company       0.00      0.00      0.00         1
      Couple       0.51      0.25      0.33      4889
      Female       0.67      0.92      0.77     11393
       Group       0.00      0.00      0.00         1
        Male       0.80      0.68      0.74      6852
  Non-Binary       0.00      0.00      0.00        57
       Other       0.00      0.00      0.00       197
   Trans Man       0.00      0.00      0.00       122
 Trans Woman       0.00      0.00      0.00       422

    accuracy                           0.68     23934
   macro avg       0.22      0.21      0.20     23934
weighted avg       0.65      0.68      0.65     23934