In [2]:
#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install sklearn
#!pip install seaborn
#!pip install ipywidgets widgetsnbextension IProgress pandas_profiling

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pd.set_option('display.max_columns', 100)

In [5]:
data = pd.read_csv("../../models_v3.csv", na_values=['–','—', '-'])

# 1. Первичный анализ данных

### Вывод статистик по датасету

In [6]:
data.shape

(81774, 47)

In [7]:
data.head()

,URL,Name,Bio,Subscribers,Videos_views,Pornhub_rank,Model_rank,Public_videos,Paid_videos,Fan_club_material,Verified_pornstar,Verified_member,Premium_user,Pornhub_awards_winner,Age,Background,Birthday,Birthplace,Born,Career Start and End,Career Status,City and Country,Endowment,Ethnicity,Eye Color,Facial Hair,Fake Boobs,Foreskin,Gender,Hair Color,Height,Weight,Interested in,Interests and hobbies,Joined,Measurements,Piercings,Pornstar Profile Views,Profile Views,Relationship status,Star Sign,Tattoos,Turn Offs,Turn Ons,Video Views,Videos Watched,Hometown
0,http://pornhub.com/model/mini-diva,Mini Diva,Hey there! You can call me Mini Diva. I love s...,820K,"364,041,175",11,1.0,65.0,7.0,107.0,0,1,1,0,26.0,NaN,"Aug 6, 1994",Czech Republic,NaN,NaN,NaN,"Heaven, Europe",NaN,White,NaN,NaN,No,NaN,Female,Brunette,"5' 6"" (167cm)",111lbs. (50kg),Guys and Girls,Boring AF.,2 years ago,35-25-36,Yes,NaN,"59,460,751",Single,NaN,No,Dunno what can turn me off.,"When you watching me, fucking love it!","364,041,175","1,057",Prague
1,http://pornhub.com/model/yinyleon,yinyleon,We will try to bring you the best fuck that we...,586K,"510,938,330",21,2.0,140.0,1.0,NaN,0,1,1,0,36.0,NaN,"Jun 1, 1984",NaN,NaN,NaN,NaN,"United states, United States",NaN,NaN,NaN,NaN,NaN,NaN,Couple,NaN,NaN,NaN,Guys and Girls,"I love to go to the gym, running, hiking, fuck...",1 year ago,NaN,NaN,NaN,"67,129,229",Taken,NaN,NaN,NaN,My biggest turn on is when I get my ass and pu...,"510,938,330","1,422",NaN
2,http://pornhub.com/model/crystal-lust,Crystal Lust,Cum see more of me on Onlyfans.com/LustCrystal...,433K,"346,726,146",29,4.0,104.0,69.0,173.0,0,1,1,0,24.0,NaN,"Oct 7, 1996",NaN,NaN,NaN,NaN,"Miami, United States",NaN,NaN,NaN,NaN,NaN,NaN,Female,Brunette,"5' 2"" (157cm)",NaN,Guys and Girls,NaN,1 year ago,42-32-50,NaN,NaN,"50,243,658",Taken,NaN,NaN,NaN,Getting fucked in the ass Onlyfans.com/LustCry...,"346,726,146",560,NaN
3,http://pornhub.com/model/solazola,Solazola,"Hi, guys) We hope that you LOVE SEX as much as...",748K,"234,093,027",32,5.0,50.0,14.0,181.0,0,1,0,0,21.0,NaN,"Dec 12, 1999",NaN,NaN,NaN,NaN,"Tallinn, Estonia",NaN,White,NaN,NaN,No,NaN,Couple,Brunette,"5' 8"" (172cm)",111lbs. (50kg),Guys and Girls,"Sport, snowboarding, movies, fashion, food, pl...",2 years ago,34-24-36,No,NaN,"56,041,576",Taken,NaN,Yes,NaN,blowjobs (love this action),"234,093,027","1,059",NaN
4,http://pornhub.com/model/dickforlily,DickForLily,just a couple who loves to fuck and gets off o...,596K,"357,380,610",43,7.0,175.0,23.0,17.0,0,1,0,0,22.0,NaN,"Oct 5, 1998",NaN,NaN,NaN,NaN,"New York, United States",NaN,White,NaN,NaN,No,NaN,Couple,Brunette,"5' 7"" (170cm)",117lbs. (53kg),Guys and Girls,"I love hiking, sucking dick, fucking and trave...",2 years ago,34-35-25,No,NaN,"44,344,938",Taken,NaN,No,avaricious and hypocritical people,"Men in suits , expensive cars , cute guys","357,380,610","3,391",NaN

In [8]:
data.describe()

,Pornhub_rank,Model_rank,Public_videos,Paid_videos,Fan_club_material,Verified_pornstar,Verified_member,Premium_user,Pornhub_awards_winner,Age,Background,Born,Career Start and End,Career Status,Eye Color,Pornstar Profile Views,Star Sign
count,81774.000000,81610.000000,79561.000000,28760.000000,17517.000000,81774.0,81774.0,81774.000000,81774.000000,80229.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,56429.579463,41934.357946,13.392353,7.841620,23.928355,0.0,1.0,0.032651,0.000024,27.804073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,26974.421003,24732.503639,36.149875,35.140148,130.965379,0.0,0.0,0.177722,0.004945,26.484533,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,11.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.0,0.000000,0.000000,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,34496.250000,20816.250000,3.000000,1.000000,2.000000,0.0,1.0,0.000000,0.000000,22.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,58344.500000,41406.500000,6.000000,2.000000,5.000000,0.0,1.0,0.000000,0.000000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,79600.750000,62285.750000,13.000000,4.000000,15.000000,0.0,1.0,0.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,100240.000000,134458.000000,2910.000000,2268.000000,7570.000000,0.0,1.0,1.000000,1.000000,2020.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81774 entries, 0 to 81773
Data columns (total 47 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   URL                     81774 non-null  object
 1   Name                    81774 non-null  object
 2   Bio                     58846 non-null  object
 3   Subscribers             81774 non-null  object
 4   Videos_views            81774 non-null  object
 5   Pornhub_rank            81774 non-null  int64
 6   Model_rank              81610 non-null  float64
 7   Public_videos           79561 non-null  float64
 8   Paid_videos             28760 non-null  float64
 9   Fan_club_material       17517 non-null  float64
 10  Verified_pornstar       81774 non-null  int64
 11  Verified_member         81774 non-null  int64
 12  Premium_user            81774 non-null  int64
 13  Pornhub_awards_winner   81774 non-null  int64
 14  Age                     80229 non-null  float64
 15  Background              0 non-null      float64
 16  Birthday                80209 non-null  object
 17  Birthplace              26683 non-null  object
 18  Born                    0 non-null      float64
 19  Career Start and End    0 non-null      float64
 20  Career Status           0 non-null      float64
 21  City and Country        56467 non-null  object
 22  Endowment               6516 non-null   object
 23  Ethnicity               32426 non-null  object
 24  Eye Color               0 non-null      float64
 25  Facial Hair             6991 non-null   object
 26  Fake Boobs              19612 non-null  object
 27  Foreskin                7064 non-null   object
 28  Gender                  81774 non-null  object
 29  Hair Color              28856 non-null  object
 30  Height                  28125 non-null  object
 31  Weight                  22984 non-null  object
 32  Interested in           76655 non-null  object
 33  Interests and hobbies   27857 non-null  object
 34  Joined                  81774 non-null  object
 35  Measurements            7913 non-null   object
 36  Piercings               27064 non-null  object
 37  Pornstar Profile Views  0 non-null      float64
 38  Profile Views           81774 non-null  object
 39  Relationship status     81168 non-null  object
 40  Star Sign               0 non-null      float64
 41  Tattoos                 28806 non-null  object
 42  Turn Offs               21839 non-null  object
 43  Turn Ons                30730 non-null  object
 44  Video Views             81551 non-null  object
 45  Videos Watched          81145 non-null  object
 46  Hometown                14849 non-null  object
dtypes: float64(12), int64(5), object(30)
memory usage: 29.3+ MB

### Подготовка датасета (удаление nan)

In [10]:
def first_value_less(na_stats_sorted, num):
    return [i for i, e in enumerate(list(na_stats_sorted.values)) if e <= num][0]

def find_persentage_of_nan(data):
    na_info = data.isnull()
    sum_na_info = na_info.sum()
    na_stats = sum_na_info / data.shape[0] * 100
    na_stats_sorted = na_stats.sort_values(ascending=False)
    return na_stats_sorted

In [11]:
# находим кол-во nan значений в даттасете в процентах
na_stats_sorted = find_persentage_of_nan(data)
na_stats_sorted

Eye Color                 100.000000
Career Status             100.000000
Career Start and End      100.000000
Star Sign                 100.000000
Pornstar Profile Views    100.000000
Born                      100.000000
Background                100.000000
Endowment                  92.031697
Facial Hair                91.450828
Foreskin                   91.361557
Measurements               90.323330
Hometown                   81.841417
Fan_club_material          78.578766
Fake Boobs                 76.016827
Turn Offs                  73.293467
Weight                     71.893267
Birthplace                 67.369824
Piercings                  66.903906
Interests and hobbies      65.934160
Height                     65.606427
Paid_videos                64.829897
Tattoos                    64.773644
Hair Color                 64.712500
Turn Ons                   62.420818
Ethnicity                  60.346809
City and Country           30.947489
Bio                        28.038252
Interested in               6.259936
Public_videos               2.706239
Birthday                    1.913811
Age                         1.889354
Videos Watched              0.769193
Relationship status         0.741067
Video Views                 0.272703
Model_rank                  0.200553
Subscribers                 0.000000
Videos_views                0.000000
Pornhub_rank                0.000000
Name                        0.000000
Profile Views               0.000000
Verified_pornstar           0.000000
Joined                      0.000000
Verified_member             0.000000
Premium_user                0.000000
Pornhub_awards_winner       0.000000
Gender                      0.000000
URL                         0.000000
dtype: float64

In [12]:
# удаляем столбцы, в которых пропущенных значений больше 25%
persentage = 25
columns_for_drop = list(na_stats_sorted.index)[:first_value_less(na_stats_sorted, persentage)]
print("Columns for drop:")
print(columns_for_drop)

data_pre = data.drop(columns_for_drop, axis = 1)

Columns for drop:
['Eye Color', 'Career Status', 'Career Start and End', 'Star Sign', 'Pornstar Profile Views', 'Born', 'Background', 'Endowment', 'Facial Hair', 'Foreskin', 'Measurements', 'Hometown', 'Fan_club_material', 'Fake Boobs', 'Turn Offs', 'Weight', 'Birthplace', 'Piercings', 'Interests and hobbies', 'Height', 'Paid_videos', 'Tattoos', 'Hair Color', 'Turn Ons', 'Ethnicity', 'City and Country', 'Bio']

In [13]:
# снова выводим проценты
na_stats_sorted = find_persentage_of_nan(data_pre)
na_stats_sorted

Interested in            6.259936
Public_videos            2.706239
Birthday                 1.913811
Age                      1.889354
Videos Watched           0.769193
Relationship status      0.741067
Video Views              0.272703
Model_rank               0.200553
Profile Views            0.000000
Joined                   0.000000
Gender                   0.000000
URL                      0.000000
Name                     0.000000
Premium_user             0.000000
Verified_member          0.000000
Verified_pornstar        0.000000
Pornhub_rank             0.000000
Videos_views             0.000000
Subscribers              0.000000
Pornhub_awards_winner    0.000000
dtype: float64

In [14]:
# теперь удаляем строчки, в которых есть пропущенные значения
persentage = 0
columns_for_dropna = list(na_stats_sorted.index)[:first_value_less(na_stats_sorted, persentage)]
print("Columns for dropna:")
print(columns_for_dropna)

data_pre = data_pre.dropna(subset=columns_for_dropna)

Columns for dropna:
['Interested in', 'Public_videos', 'Birthday', 'Age', 'Videos Watched', 'Relationship status', 'Video Views', 'Model_rank']

In [15]:
# удаляем столбец "URL" так как он не несет за собой смысловой значимости
data_pre = data_pre.drop(["URL"], axis=1)

In [16]:
# делаем последний поиск nan значений
find_persentage_of_nan(data_pre)

Name                     0.0
Age                      0.0
Video Views              0.0
Relationship status      0.0
Profile Views            0.0
Joined                   0.0
Interested in            0.0
Gender                   0.0
Birthday                 0.0
Pornhub_awards_winner    0.0
Subscribers              0.0
Premium_user             0.0
Verified_member          0.0
Verified_pornstar        0.0
Public_videos            0.0
Model_rank               0.0
Pornhub_rank             0.0
Videos_views             0.0
Videos Watched           0.0
dtype: float64

### Производим препроцессинг

In [17]:
from sklearn import preprocessing
data_pre = data_pre.apply(preprocessing.LabelEncoder().fit_transform)
data_pre

,Name,Subscribers,Videos_views,Pornhub_rank,Model_rank,Public_videos,Verified_pornstar,Verified_member,Premium_user,Pornhub_awards_winner,Age,Birthday,Gender,Interested in,Joined,Profile Views,Relationship status,Video Views,Videos Watched
0,33601,1467,21910,0,0,64,0,0,1,0,8,1721,2,2,11,21780,1,21910,58
1,72193,1084,28016,1,1,139,0,0,1,0,18,5408,1,2,2,23441,2,28016,414
2,11717,819,21298,2,2,103,0,0,1,0,6,9849,2,2,2,20693,2,21298,2541
3,46867,1354,15325,3,3,49,0,0,0,0,3,1946,1,2,11,21416,2,15325,60
4,14093,1101,21627,5,5,173,0,0,0,0,4,9791,1,2,11,18826,2,21627,1875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81769,10056,1274,33730,4348,4206,11,0,0,0,0,22,6530,2,2,15,15623,1,33730,2496
81770,36293,532,21602,4349,4271,26,0,0,0,0,12,9054,2,2,11,26548,2,21602,1747
81771,36535,745,244,4350,4324,11,0,0,0,0,7,3210,1,2,11,8822,0,244,2919
81772,27308,278,26988,4351,3810,50,0,0,0,0,7,9611,2,1,15,24689,0,26988,2855
81773,32427,283,210,4352,4365,140,0,0,0,0,29,2245,1,0,5,4157,2,210,203

### Рисуем графики

In [18]:
import pandas_profiling

In [19]:
import seaborn as sns

In [20]:
sns.heatmap(data_pre.corr(), annot=True, fmt="f", vmin=-1, vmax=1)

In [ ]:
data_pre.corr()

,Name,Subscribers,Videos_views,Pornhub_rank,Model_rank,Public_videos,Verified_pornstar,Verified_member,Premium_user,Pornhub_awards_winner,Age,Birthday,Gender,Interested in,Joined,Profile Views,Relationship status,Video Views,Videos Watched
Name,1.000000,0.000405,0.004366,0.075499,0.073791,-0.004209,NaN,NaN,-0.012276,-0.003628,0.016941,-0.004107,-0.003179,-0.014797,0.027398,-0.007032,0.007682,0.004366,-0.004903
Subscribers,0.000405,1.000000,-0.001545,0.002378,0.003139,-0.006384,NaN,NaN,0.001036,0.000819,-0.002186,0.002311,-0.000831,0.003019,-0.002107,0.032750,-0.002651,-0.001545,0.000857
Videos_views,0.004366,-0.001545,1.000000,-0.016003,-0.016181,0.001791,NaN,NaN,-0.001427,-0.000557,0.009823,-0.000699,0.008753,-0.008384,0.001840,0.020267,-0.004212,1.000000,-0.010865
Pornhub_rank,0.075499,0.002378,-0.016003,1.000000,0.981611,-0.344016,NaN,NaN,-0.035854,-0.009065,0.010827,0.003381,0.119531,-0.130999,-0.002006,-0.058220,0.000111,-0.016003,-0.010114
Model_rank,0.073791,0.003139,-0.016181,0.981611,1.000000,-0.346074,NaN,NaN,-0.036027,-0.009026,0.009196,0.003020,0.118215,-0.128175,-0.003212,-0.059731,0.002646,-0.016181,-0.011302
Public_videos,-0.004209,-0.006384,0.001791,-0.344016,-0.346074,1.000000,NaN,NaN,0.054830,0.011962,0.125551,-0.007097,-0.011639,0.010943,0.028513,0.030359,-0.004412,0.001791,0.003100
Verified_pornstar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Verified_member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Premium_user,-0.012276,0.001036,-0.001427,-0.035854,-0.036027,0.054830,NaN,NaN,1.000000,0.013469,0.075071,-0.002288,0.018350,-0.035674,0.032829,-0.004701,-0.000443,-0.001427,-0.010234
Pornhub_awards_winner,-0.003628,0.000819,-0.000557,-0.009065,-0.009026,0.011962,NaN,NaN,0.013469,1.000000,-0.004236,0.007208,-0.003715,-0.001788,-0.002612,-0.001050,0.002612,-0.000557,-0.009068
Age,0.016941,-0.002186,0.009823,0.010827,0.009196,0.125551,NaN,NaN,0.075071,-0.004236,1.000000,0.006182,0.070436,-0.085342,0.050112,0.006968,-0.031159,0.009823,0.000245
Birthday,-0.004107,0.002311,-0.000699,0.003381,0.003020,-0.007097,NaN,NaN,-0.002288,0.007208,0.006182,1.000000,0.001789,-0.001029,0.002079,-0.004063,-0.007753,-0.000699,0.001147
Gender,-0.003179,-0.000831,0.008753,0.119531,0.118215,-0.011639,NaN,NaN,0.018350,-0.003715,0.070436,0.001789,1.000000,-0.319789,0.021249,0.007338,-0.159405,0.008753,-0.006202
Interested in,-0.014797,0.003019,-0.008384,-0.130999,-0.128175,0.010943,NaN,NaN,-0.035674,-0.001788,-0.085342,-0.001029,-0.319789,1.000000,-0.023027,-0.004364,-0.017487,-0.008384,0.008531
Joined,0.027398,-0.002107,0.001840,-0.002006,-0.003212,0.028513,NaN,NaN,0.032829,-0.002612,0.050112,0.002079,0.021249,-0.023027,1.000000,-0.006247,-0.017557,0.001840,-0.008252
Profile Views,-0.007032,0.032750,0.020267,-0.058220,-0.059731,0.030359,NaN,NaN,-0.004701,-0.001050,0.006968,-0.004063,0.007338,-0.004364,-0.006247,1.000000,0.000952,0.020267,0.003701
Relationship status,0.007682,-0.002651,-0.004212,0.000111,0.002646,-0.004412,NaN,NaN,-0.000443,0.002612,-0.031159,-0.007753,-0.159405,-0.017487,-0.017557,0.000952,1.000000,-0.004212,0.007716
Video Views,0.004366,-0.001545,1.000000,-0.016003,-0.016181,0.001791,NaN,NaN,-0.001427,-0.000557,0.009823,-0.000699,0.008753,-0.008384,0.001840,0.020267,-0.004212,1.000000,-0.010865
Videos Watched,-0.004903,0.000857,-0.010865,-0.010114,-0.011302,0.003100,NaN,NaN,-0.010234,-0.009068,0.000245,0.001147,-0.006202,0.008531,-0.008252,0.003701,0.007716,-0.010865,1.000000