In [1]:
import os
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [3]:
curr_path = os.path.abspath(os.getcwd())
data_path = curr_path[:-22] + 'News_Category_Dataset_v2.json'

In [4]:
df = pd.read_json(data_path, lines=True)

In [5]:
df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [6]:
df.describe()

,category,headline,authors,link,short_description,date
count,200853,200853,200853,200853,200853,200853
unique,41,199344,27993,200812,178353,2309
top,POLITICS,Sunday Roundup,,https://www.huffingtonpost.comhttp://stylelike...,,2013-04-24 00:00:00
freq,32739,90,36620,2,19712,100
first,NaN,NaN,NaN,NaN,NaN,2012-01-28 00:00:00
last,NaN,NaN,NaN,NaN,NaN,2018-05-26 00:00:00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   link               200853 non-null  object
 4   short_description  200853 non-null  object
 5   date               200853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.2+ MB

In [8]:
# Предобработка

In [9]:
df["news_text"] = df["headline"] + " " + df["short_description"]

In [10]:
data = df[["news_text", "category"]]

In [11]:
data

                                                news_text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200848  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200849  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200850  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200851  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200852  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200853 rows x 2 columns]

In [12]:
def first_value_less(na_stats_sorted, num):
    return [i for i, e in enumerate(list(na_stats_sorted.values)) if e <= num][0]

def find_persentage_of_nan(data):
    na_info = data.isnull()
    sum_na_info = na_info.sum()
    na_stats = sum_na_info / data.shape[0] * 100
    na_stats_sorted = na_stats.sort_values(ascending=False)
    return na_stats_sorted

In [13]:
# находим кол-во nan значений в датасете в процентах
na_stats_sorted = find_persentage_of_nan(data)
na_stats_sorted

news_text    0.0
category     0.0
dtype: float64

In [14]:
len(data.news_text.unique())

200365

In [15]:
len(data.news_text)

200853

In [16]:
news = data[~data.duplicated(subset=["news_text"], keep=False)]

In [17]:
news

                                                news_text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200848  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200849  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200850  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200851  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200852  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200156 rows x 2 columns]

In [18]:
news.category.value_counts()

POLITICS          32702
WELLNESS          17816
ENTERTAINMENT     16050
TRAVEL             9880
STYLE & BEAUTY     9422
PARENTING          8645
HEALTHY LIVING     6687
QUEER VOICES       6307
FOOD & DRINK       6225
BUSINESS           5931
COMEDY             5159
SPORTS             4884
BLACK VOICES       4522
HOME & LIVING      4140
PARENTS            3892
THE WORLDPOST      3664
WEDDINGS           3651
IMPACT             3455
DIVORCE            3420
CRIME              3397
WOMEN              3393
MEDIA              2810
WEIRD NEWS         2670
GREEN              2613
WORLDPOST          2578
RELIGION           2547
STYLE              2243
SCIENCE            2178
WORLD NEWS         2175
TASTE              2095
TECH               2028
MONEY              1706
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
ARTS & CULTURE     1337
ENVIRONMENT        1321
COLLEGE            1144
LATINO VOICES      1129
CULTURE & ARTS     1028
EDUCATION          1004
Name: category, dtype: int64

In [19]:
!conda install nltk -y

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.1
  latest version: 4.11.0

Please update conda by running

    $ conda update -n base conda



# All requested packages already installed.

In [20]:
import nltk
from nltk.corpus import stopwords

In [21]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hackerman/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
stopwords = stopwords.words('english')
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [23]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [24]:
news = news.reset_index(drop=True)

In [25]:
news

                                                news_text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200151  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200152  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200153  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200154  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200155  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200156 rows x 2 columns]

In [26]:
lemmatizer = WordNetLemmatizer()

In [27]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/hackerman/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [28]:
for i in range(len(news["news_text"])):
    temp_string = ""
    for word in news["news_text"][i].split():
        word = ("".join(e for e in word if e.isalnum()))
        word = word.lower()
        word = lemmatizer.lemmatize(word)
        if not word in stopwords:
            temp_string += word + " "  
            
    news.at[i,"news_text"] = temp_string.strip()

In [29]:
news

                                                news_text       category
0       2 mass shooting texas last week 1 tv left husb...          CRIME
1       smith join diplo nicky jam 2018 world cup offi...  ENTERTAINMENT
2       hugh grant marries first time age 57 actor lon...  ENTERTAINMENT
3       jim carrey blast castrato adam schiff democrat...  ENTERTAINMENT
4       julianna margulies us donald trump poop bag pi...  ENTERTAINMENT
...                                                   ...            ...
200151  rim ceo thorsten heins significant plan blackb...           TECH
200152  maria sharapova stunned victoria azarenka aust...         SPORTS
200153  giant patriot jet colt among improbable super ...         SPORTS
200154  aldon smith arrested 49ers linebacker busted d...         SPORTS
200155  dwight howard rip teammate magic loss hornet f...         SPORTS

[200156 rows x 2 columns]

In [30]:
data_copy = news.copy()

In [31]:
from sklearn import preprocessing

In [32]:
encoders = {}

encoder = preprocessing.LabelEncoder()
encoder.fit(data_copy["category"])
data_copy["category"] = encoder.transform(data_copy["category"])
encoders["category"] = encoder

In [33]:
data_copy

                                                news_text  category
0       2 mass shooting texas last week 1 tv left husb...         6
1       smith join diplo nicky jam 2018 world cup offi...        10
2       hugh grant marries first time age 57 actor lon...        10
3       jim carrey blast castrato adam schiff democrat...        10
4       julianna margulies us donald trump poop bag pi...        10
...                                                   ...       ...
200151  rim ceo thorsten heins significant plan blackb...        32
200152  maria sharapova stunned victoria azarenka aust...        28
200153  giant patriot jet colt among improbable super ...        28
200154  aldon smith arrested 49ers linebacker busted d...        28
200155  dwight howard rip teammate magic loss hornet f...        28

[200156 rows x 2 columns]

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
data_split = data_copy.copy()
y = data_split['category'].values
x = data_split.drop(['category'], axis=1)

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.3)

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
vect = CountVectorizer(min_df=10)

In [39]:
X_train['news_text']

179821    im ashamed money broke new single promising te...
9298      many taxpayer dollar amazon warehouse job wort...
111158    perry cite joan river death defense controvers...
26927     steve bannons failed star warsmeetsshakespeare...
65543     gop congressman circulates letter urging rubio...
                                ...
88886     hospital back provider applying new york state...
154411    pema essence life morning chapter wa reading c...
74299     sign youre weakest link bar trivia team never ...
163656    dont scared hollandaise easy blender recipe vi...
165634    mischa barton seemingly decides go braless pho...
Name: news_text, Length: 140109, dtype: object

In [40]:
X_train_review_bow = vect.fit_transform(list(X_train['news_text'])).toarray()
X_test_review_bow = vect.transform(X_test['news_text']).toarray()

In [41]:
# Берем пепежный байес по рофлу, чтобы чекнуть работает ли наша шалость после постпроцессинга

In [42]:
"""from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
clf = MultinomialNB()
clf.fit(X_train_review_bow, Y_train)
y_pred = clf.predict(X_test_review_bow)"""

'from sklearn.naive_bayes import MultinomialNB\nfrom sklearn.metrics import accuracy_score\nclf = MultinomialNB()\nclf.fit(X_train_review_bow, Y_train)\ny_pred = clf.predict(X_test_review_bow)'

In [43]:
# y_pred

In [44]:
# print ('Test Accuracy: ', accuracy_score(Y_test, y_pred))

In [45]:
!pip install tensorflow==2.5.0

Requirement already satisfied: tensorflow==2.5.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (2.5.0)
Requirement already satisfied: tensorflow-estimator<2.6.0,>=2.5.0rc0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (2.5.0)
Requirement already satisfied: tensorboard~=2.5 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (2.7.0)
Requirement already satisfied: keras-nightly~=2.5.0.dev in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (2.5.0.dev2021032900)
Requirement already satisfied: flatbuffers~=1.12.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.12)
Requirement already satisfied: h5py~=3.1.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (3.1.0)
Requirement already satisfied: numpy~=1.19.2 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.19.5)
Requirement already satisfied: gast==0.4.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (0.4.0)
Requirement already satisfied: grpcio~=1.34.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.34.1)
Requirement already satisfied: wrapt~=1.12.1 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.12.1)
Requirement already satisfied: astunparse~=1.6.3 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.6.3)
Requirement already satisfied: absl-py~=0.10 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (0.15.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (3.7.4.3)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.1.2)
Requirement already satisfied: wheel~=0.35 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (0.36.2)
Requirement already satisfied: termcolor~=1.1.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.1.0)
Requirement already satisfied: protobuf>=3.9.2 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (3.19.1)
Requirement already satisfied: opt-einsum~=3.3.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (3.3.0)
Requirement already satisfied: six~=1.15.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (1.15.0)
Requirement already satisfied: google-pasta~=0.2 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorflow==2.5.0) (0.2.0)
Requirement already satisfied: setuptools>=41.0.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (49.6.0.post20210108)
Requirement already satisfied: markdown>=2.6.8 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (3.3.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (2.3.3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (1.8.0)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (2.25.1)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0) (2.0.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow==2.5.0) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard~=2.5->tensorflow==2.5.0) (4.6.1)
Requirement already satisfied: zipp>=0.5 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.5->tensorflow==2.5.0) (3.5.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow==2.5.0) (1.26.6)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow==2.5.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow==2.5.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow==2.5.0) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/hackerman/conda86/envs/notebook/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow==2.5.0) (3.1.1)

In [46]:
# начинается нейросеть

In [47]:
import numpy as np

In [48]:
!conda install pytorch torchvision torchaudio -c pytorch -y

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.1
  latest version: 4.11.0

Please update conda by running

    $ conda update -n base conda



# All requested packages already installed.

In [49]:
import torch
from torch import nn, optim
import torch.nn.functional as F

In [50]:
X_train = torch.Tensor(X_train_review_bow)
Y_train = torch.LongTensor(Y_train)
X_test = torch.Tensor(X_test_review_bow)
Y_test = torch.LongTensor(Y_test)

In [75]:
len_vector = X_train_review_bow.shape[1]
len_vector

16517

In [70]:
model = nn.Sequential(
        nn.Linear(len_vector, 41),
        nn.ReLU(),
        nn.Linear(41, 41),
        nn.Sigmoid())

In [71]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [72]:
epochs = 1
losses = []

for i in range(epochs):
    i += 1
    Y_pred = model.forward(X_train)
    loss = criterion(Y_pred, Y_train)
    losses.append(loss)

    if i%2 == 0:
        print(f'epoch: {i:2}  loss: {loss.item():10.8f}')

    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

In [74]:
counter = 0
y_test_len = len(Y_test)

with torch.no_grad():
    for i,data in enumerate(X_test):
        y_val = model.forward(data)
        if y_val.argmax().item() == Y_test[i]:
            counter += 1
print(f'{counter} out of {y_test_len} = {100*counter/y_test_len:.2f}% right')

13994 out of 60047 = 23.31% right

In [ ]:
# следующие модельки

In [84]:
model_2 = nn.Sequential(
        nn.Linear(len_vector, 2624),
        nn.Linear(2624, 656),
        nn.Linear(656, 164),
        nn.Linear(164, 41),
        nn.Sigmoid())

In [85]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model_2.parameters(), lr=0.01)

In [86]:
epochs = 1
losses = []

for i in range(epochs):
    i += 1
    Y_pred = model_2.forward(X_train)
    loss = criterion(Y_pred, Y_train)
    losses.append(loss)

    if i%2 == 0:
        print(f'epoch: {i:2}  loss: {loss.item():10.8f}')

    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

In [87]:
counter = 0
y_test_len = len(Y_test)

with torch.no_grad():
    for i,data in enumerate(X_test):
        y_val = model_2.forward(data)
        if y_val.argmax().item() == Y_test[i]:
            counter += 1
print(f'{counter} out of {y_test_len} = {100*counter/y_test_len:.2f}% right')

21235 out of 60047 = 35.36% right