In [1]:
import os
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

# Загрузка датасета

In [3]:
curr_path = os.path.abspath(os.getcwd())
data_path = curr_path[:-22] + 'News_Category_Dataset_v2.json'

In [4]:
df = pd.read_json(data_path, lines=True)

In [5]:
df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [6]:
df.describe()

,category,headline,authors,link,short_description,date
count,200853,200853,200853,200853,200853,200853
unique,41,199344,27993,200812,178353,2309
top,POLITICS,Sunday Roundup,,https://www.huffingtonpost.comhttp://stylelike...,,2013-04-24 00:00:00
freq,32739,90,36620,2,19712,100
first,NaN,NaN,NaN,NaN,NaN,2012-01-28 00:00:00
last,NaN,NaN,NaN,NaN,NaN,2018-05-26 00:00:00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   link               200853 non-null  object
 4   short_description  200853 non-null  object
 5   date               200853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.2+ MB

In [8]:
# Предобработка

In [9]:
df["news_text"] = df["headline"] + " " + df["short_description"]

In [10]:
data = df[["news_text", "category"]]

In [11]:
data

                                                news_text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200848  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200849  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200850  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200851  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200852  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200853 rows x 2 columns]

In [12]:
def first_value_less(na_stats_sorted, num):
    return [i for i, e in enumerate(list(na_stats_sorted.values)) if e <= num][0]

def find_persentage_of_nan(data):
    na_info = data.isnull()
    sum_na_info = na_info.sum()
    na_stats = sum_na_info / data.shape[0] * 100
    na_stats_sorted = na_stats.sort_values(ascending=False)
    return na_stats_sorted

In [13]:
# находим кол-во nan значений в датасете в процентах
na_stats_sorted = find_persentage_of_nan(data)
na_stats_sorted

news_text    0.0
category     0.0
dtype: float64

In [14]:
len(data.news_text.unique())

200365

In [15]:
len(data.news_text)

200853

In [16]:
news = data[~data.duplicated(subset=["news_text"], keep=False)]

In [17]:
news

                                                news_text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200848  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200849  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200850  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200851  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200852  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200156 rows x 2 columns]

In [18]:
news.category.value_counts()

POLITICS          32702
WELLNESS          17816
ENTERTAINMENT     16050
TRAVEL             9880
STYLE & BEAUTY     9422
PARENTING          8645
HEALTHY LIVING     6687
QUEER VOICES       6307
FOOD & DRINK       6225
BUSINESS           5931
COMEDY             5159
SPORTS             4884
BLACK VOICES       4522
HOME & LIVING      4140
PARENTS            3892
THE WORLDPOST      3664
WEDDINGS           3651
IMPACT             3455
DIVORCE            3420
CRIME              3397
WOMEN              3393
MEDIA              2810
WEIRD NEWS         2670
GREEN              2613
WORLDPOST          2578
RELIGION           2547
STYLE              2243
SCIENCE            2178
WORLD NEWS         2175
TASTE              2095
TECH               2028
MONEY              1706
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
ARTS & CULTURE     1337
ENVIRONMENT        1321
COLLEGE            1144
LATINO VOICES      1129
CULTURE & ARTS     1028
EDUCATION          1004
Name: category, dtype: int64

# Подготовка датасета

In [19]:
#!conda install nltk -y
#!pip install nltk

In [20]:
import nltk
from nltk.corpus import stopwords

In [21]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hackerman/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
stopwords = stopwords.words('english')
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [23]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [24]:
data_news = news.reset_index(drop=True)

In [25]:
# строчка для дебага, не удаляй
data_news = data_news[:1000]

In [26]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/hackerman/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [27]:
def lemmatize_df(df, stopwords, column):
    lemmatizer = WordNetLemmatizer()
    for i in range(len(df[column])):
        temp_string = ""
        for word in df[column][i].split():
            word = ("".join(e for e in word if e.isalnum()))
            word = word.lower()
            word = lemmatizer.lemmatize(word)
            if not word in stopwords:
                temp_string += word + " "  
            
        df.at[i,column] = temp_string.strip()
    return df

In [28]:
lemmatized_data_news = lemmatize_df(data_news, stopwords, 'news_text')

In [29]:
lemmatized_data_news

                                             news_text       category
0    2 mass shooting texas last week 1 tv left husb...          CRIME
1    smith join diplo nicky jam 2018 world cup offi...  ENTERTAINMENT
2    hugh grant marries first time age 57 actor lon...  ENTERTAINMENT
3    jim carrey blast castrato adam schiff democrat...  ENTERTAINMENT
4    julianna margulies us donald trump poop bag pi...  ENTERTAINMENT
..                                                 ...            ...
995  ny attorney general eric schneiderman resigns ...       POLITICS
996  sanctuary city working trump era surprising co...       POLITICS
997  shepard smith cant say trump pulled iran deal ...          MEDIA
998  stormy daniel find crunchy new way chip away t...     WEIRD NEWS
999  rainbow mountain peru look like theyre straigh...         TRAVEL

[1000 rows x 2 columns]

In [30]:
data_copy = lemmatized_data_news.copy()

In [31]:
from sklearn import preprocessing

In [32]:
encoders = {}

encoder = preprocessing.LabelEncoder()
encoder.fit(data_copy["category"])
data_copy["category"] = encoder.transform(data_copy["category"])
encoders["category"] = encoder

In [33]:
data_copy

                                             news_text  category
0    2 mass shooting texas last week 1 tv left husb...         3
1    smith join diplo nicky jam 2018 world cup offi...         5
2    hugh grant marries first time age 57 actor lon...         5
3    jim carrey blast castrato adam schiff democrat...         5
4    julianna margulies us donald trump poop bag pi...         5
..                                                 ...       ...
995  ny attorney general eric schneiderman resigns ...         9
996  sanctuary city working trump era surprising co...         9
997  shepard smith cant say trump pulled iran deal ...         8
998  stormy daniel find crunchy new way chip away t...        16
999  rainbow mountain peru look like theyre straigh...        15

[1000 rows x 2 columns]

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
data_split = data_copy.copy()
y = data_split['category'].values
x = data_split.drop(['category'], axis=1)

In [36]:
X_train_pre, X_test_pre, Y_train, Y_test = train_test_split(x, y, test_size=0.3)

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
vect = CountVectorizer(min_df=5)

In [39]:
X_train_ = list(X_train_pre['news_text'])[:]

In [40]:
X_test_ = X_test_pre['news_text'].copy()

In [41]:
X_train_review_bow = vect.fit_transform(X_train_).toarray()
X_test_review_bow = vect.transform(X_test_).toarray()

# Проверка на правильность обработки и разбиения

In [42]:
# Взяли алгоритм Байеса для проверки подготовленного датасета
# тем самым исключаем ощибки допущенные в постобработке

In [43]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
clf = MultinomialNB()
clf.fit(X_train_review_bow, Y_train)
y_pred = clf.predict(X_test_review_bow)

In [44]:
print ('Test Accuracy: ', accuracy_score(Y_test, y_pred))

Test Accuracy:  0.59

# Нейронные сети: обучение и тесты

In [45]:
#!pip install pytorch torchvision torchaudio
#!conda install pytorch torchvision torchaudio -c pytorch -y

In [46]:
import torch
from torch import nn, optim
import torch.nn.functional as F

In [47]:
def train_model(model, epochs, criterion, optimizer, X_train, Y_train, X_test, Y_test):
    losses = []

    for i in range(epochs):
        i += 1
        Y_pred = model.forward(X_train)
        loss = criterion(Y_pred, Y_train)
        losses.append(loss)
        acc = test_model(model, X_test, Y_test, 0)
        print(f'epoch: {i:2}  loss: {loss.item():10.8f} acc: {acc}')

        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        
    return model

In [48]:
def test_model(model, X_test, Y_test, show):
    counter = 0
    y_test_len = len(Y_test)

    with torch.no_grad():
        for i,data in enumerate(X_test):
            y_val = model.forward(data)
            if y_val.argmax().item() == Y_test[i]:
                counter += 1
    res = 100*counter/y_test_len
    if show:
        print(f'{counter} out of {y_test_len} = {res}% right')
    else:
        return res

In [49]:
X_train = torch.Tensor(X_train_review_bow)
Y_train = torch.LongTensor(Y_train)
X_test = torch.Tensor(X_test_review_bow)
Y_test = torch.LongTensor(Y_test)

In [50]:
len_vector = X_train_review_bow.shape[1]
len_vector

492

### Модель №1

In [51]:
model = nn.Sequential(
        nn.Linear(len_vector, 41),
        nn.ReLU(),
        nn.Sigmoid(),
        nn.Linear(41, 41),
        nn.ReLU(),
        nn.Sigmoid())

In [52]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [53]:
epochs = 30
model_ = train_model(model, epochs, criterion, optimizer, X_train, Y_train, X_test, Y_test)

epoch:  1  loss: 3.71297741 acc: 0.0
epoch:  2  loss: 3.67499900 acc: 5.0
epoch:  3  loss: 3.64660573 acc: 5.0
epoch:  4  loss: 3.62446594 acc: 5.0
epoch:  5  loss: 3.60501337 acc: 5.333333333333333
epoch:  6  loss: 3.58833051 acc: 8.0
epoch:  7  loss: 3.57455564 acc: 16.666666666666668
epoch:  8  loss: 3.56354523 acc: 24.333333333333332
epoch:  9  loss: 3.55497026 acc: 32.0
epoch: 10  loss: 3.54841805 acc: 37.0
epoch: 11  loss: 3.54347038 acc: 38.666666666666664
epoch: 12  loss: 3.53975415 acc: 40.666666666666664
epoch: 13  loss: 3.53696370 acc: 40.666666666666664
epoch: 14  loss: 3.53485727 acc: 41.0
epoch: 15  loss: 3.53325415 acc: 40.666666666666664
epoch: 16  loss: 3.53201652 acc: 41.0
epoch: 17  loss: 3.53104591 acc: 41.0
epoch: 18  loss: 3.53026819 acc: 40.666666666666664
epoch: 19  loss: 3.52962923 acc: 40.333333333333336
epoch: 20  loss: 3.52909112 acc: 40.333333333333336
epoch: 21  loss: 3.52862549 acc: 40.333333333333336
epoch: 22  loss: 3.52821469 acc: 40.333333333333336
epoch: 23  loss: 3.52784705 acc: 40.0
epoch: 24  loss: 3.52751541 acc: 40.0
epoch: 25  loss: 3.52721334 acc: 40.0
epoch: 26  loss: 3.52693605 acc: 40.0
epoch: 27  loss: 3.52667260 acc: 40.0
epoch: 28  loss: 3.52641225 acc: 39.666666666666664
epoch: 29  loss: 3.52613950 acc: 39.666666666666664
epoch: 30  loss: 3.52584434 acc: 39.666666666666664

In [54]:
test_model(model_, X_test, Y_test, 1)

119 out of 300 = 39.666666666666664% right

### Модель №2

In [55]:
model2 = nn.Sequential(
        nn.Linear(len_vector, 2624),
        nn.Linear(2624, 656),
        nn.Linear(656, 164),
        nn.Linear(164, 41))

In [56]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model2.parameters(), lr=0.01)

In [57]:
epochs = 40
model2_ = train_model(model2, epochs, criterion, optimizer, X_train, Y_train, X_test, Y_test)

epoch:  1  loss: 3.71198320 acc: 0.0
epoch:  2  loss: 2.19868684 acc: 40.666666666666664
epoch:  3  loss: 24.63197327 acc: 1.6666666666666667
epoch:  4  loss: 13.51098061 acc: 45.666666666666664
epoch:  5  loss: 9.80577850 acc: 19.666666666666668
epoch:  6  loss: 4.48559761 acc: 18.0
epoch:  7  loss: 2.65255642 acc: 40.0
epoch:  8  loss: 2.70286775 acc: 38.666666666666664
epoch:  9  loss: 2.97607899 acc: 46.0
epoch: 10  loss: 5.33134365 acc: 27.333333333333332
epoch: 11  loss: 5.05153990 acc: 44.333333333333336
epoch: 12  loss: 5.55457926 acc: 44.666666666666664
epoch: 13  loss: 3.90960932 acc: 53.666666666666664
epoch: 14  loss: 3.60805774 acc: 49.0
epoch: 15  loss: 4.55235100 acc: 49.333333333333336
epoch: 16  loss: 2.10574317 acc: 49.666666666666664
epoch: 17  loss: 1.42749763 acc: 50.333333333333336
epoch: 18  loss: 1.41666901 acc: 48.333333333333336
epoch: 19  loss: 1.06318033 acc: 50.666666666666664
epoch: 20  loss: 0.94515032 acc: 49.333333333333336
epoch: 21  loss: 0.74675745 acc: 49.0
epoch: 22  loss: 0.54516923 acc: 47.666666666666664
epoch: 23  loss: 0.32004994 acc: 48.666666666666664
epoch: 24  loss: 0.25093269 acc: 48.0
epoch: 25  loss: 0.21405646 acc: 48.333333333333336
epoch: 26  loss: 0.16905352 acc: 48.666666666666664
epoch: 27  loss: 0.09670436 acc: 49.666666666666664
epoch: 28  loss: 0.08569978 acc: 51.333333333333336
epoch: 29  loss: 0.08122223 acc: 51.0
epoch: 30  loss: 0.04490141 acc: 51.666666666666664
epoch: 31  loss: 0.03351442 acc: 51.666666666666664
epoch: 32  loss: 0.02394408 acc: 51.666666666666664
epoch: 33  loss: 0.01424530 acc: 51.333333333333336
epoch: 34  loss: 0.01303566 acc: 51.333333333333336
epoch: 35  loss: 0.00914711 acc: 50.666666666666664
epoch: 36  loss: 0.00705020 acc: 49.666666666666664
epoch: 37  loss: 0.00714361 acc: 50.333333333333336
epoch: 38  loss: 0.00778792 acc: 50.333333333333336
epoch: 39  loss: 0.00543577 acc: 51.0
epoch: 40  loss: 0.00425154 acc: 51.0

In [58]:
test_model(model2_, X_test, Y_test, 1)

153 out of 300 = 51.0% right

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [60]:
vect_ = TfidfVectorizer(min_df=10)

In [61]:
X_train_ = list(X_train_pre['news_text'])[:]
X_test_ = X_test_pre['news_text'].copy()

In [62]:
X_train_review_bow_ = vect_.fit_transform(X_train_).toarray()
X_test_review_bow_ = vect_.transform(X_test_).toarray()

In [63]:
X_train = torch.Tensor(X_train_review_bow)
Y_train = torch.LongTensor(Y_train)
X_test = torch.Tensor(X_test_review_bow)
Y_test = torch.LongTensor(Y_test)

In [64]:
len_vector = X_train_review_bow.shape[1]
len_vector

492

### Модель 3

In [65]:
class Model3(nn.Module):
    def __init__(self):
        super(Model3, self).__init__()
        self.fc1 = nn.Linear(len_vector, 656)
        self.fc2 = nn.Linear(656, 328)
        self.fc3 = nn.Linear(328, 164)
        self.fc4 = nn.Linear(164, 82)
        self.fc5 = nn.Linear(82, 41)
    
    def forward(self, x):
        x = F.leaky_relu(self.fc1(x))
        x = F.leaky_relu(self.fc2(x))
        x = F.relu(self.fc3(x))
        x = F.relu(self.fc4(x))
        x = F.relu(self.fc5(x))
        return x

In [66]:
model3 = Model3()

In [67]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model3.parameters(), lr=0.01)

In [68]:
epochs = 50
model3_ = train_model(model3, epochs, criterion, optimizer, X_train, Y_train, X_test, Y_test)

epoch:  1  loss: 3.70555115 acc: 0.3333333333333333
epoch:  2  loss: 3.27850962 acc: 39.333333333333336
epoch:  3  loss: 4.86881781 acc: 39.333333333333336
epoch:  4  loss: 2.79689598 acc: 39.333333333333336
epoch:  5  loss: 3.26591063 acc: 39.333333333333336
epoch:  6  loss: 3.41201949 acc: 28.333333333333332
epoch:  7  loss: 3.43513703 acc: 5.333333333333333
epoch:  8  loss: 3.39194894 acc: 4.666666666666667
epoch:  9  loss: 3.29432726 acc: 4.666666666666667
epoch: 10  loss: 3.13181257 acc: 4.666666666666667
epoch: 11  loss: 2.85225320 acc: 41.333333333333336
epoch: 12  loss: 2.56633091 acc: 39.666666666666664
epoch: 13  loss: 2.45719075 acc: 39.333333333333336
epoch: 14  loss: 2.53128409 acc: 39.333333333333336
epoch: 15  loss: 2.60600471 acc: 39.333333333333336
epoch: 16  loss: 2.51252627 acc: 39.333333333333336
epoch: 17  loss: 2.37157273 acc: 39.333333333333336
epoch: 18  loss: 2.29712868 acc: 39.666666666666664
epoch: 19  loss: 2.32335353 acc: 40.0
epoch: 20  loss: 2.29268956 acc: 40.0
epoch: 21  loss: 2.23979211 acc: 40.0
epoch: 22  loss: 2.19994593 acc: 39.666666666666664
epoch: 23  loss: 2.17166162 acc: 40.666666666666664
epoch: 24  loss: 2.15070319 acc: 40.333333333333336
epoch: 25  loss: 2.12158298 acc: 40.0
epoch: 26  loss: 2.07517004 acc: 39.333333333333336
epoch: 27  loss: 2.04586363 acc: 39.333333333333336
epoch: 28  loss: 2.03577590 acc: 40.0
epoch: 29  loss: 1.98414338 acc: 39.0
epoch: 30  loss: 1.96366537 acc: 38.0
epoch: 31  loss: 1.92290246 acc: 38.666666666666664
epoch: 32  loss: 1.86191285 acc: 38.333333333333336
epoch: 33  loss: 1.77931559 acc: 40.0
epoch: 34  loss: 1.73058021 acc: 38.0
epoch: 35  loss: 1.68835950 acc: 39.0
epoch: 36  loss: 1.62857723 acc: 39.333333333333336
epoch: 37  loss: 1.58543932 acc: 40.666666666666664
epoch: 38  loss: 1.54299140 acc: 40.666666666666664
epoch: 39  loss: 1.51002491 acc: 40.333333333333336
epoch: 40  loss: 1.47487354 acc: 39.666666666666664
epoch: 41  loss: 1.44324064 acc: 40.0
epoch: 42  loss: 1.42005122 acc: 41.0
epoch: 43  loss: 1.40062034 acc: 41.666666666666664
epoch: 44  loss: 1.37850821 acc: 41.333333333333336
epoch: 45  loss: 1.36206019 acc: 41.333333333333336
epoch: 46  loss: 1.35187101 acc: 40.666666666666664
epoch: 47  loss: 1.34573770 acc: 39.333333333333336
epoch: 48  loss: 1.33998895 acc: 39.333333333333336
epoch: 49  loss: 1.33594918 acc: 39.333333333333336
epoch: 50  loss: 1.33336222 acc: 38.333333333333336

In [69]:
test_model(model3_, X_test, Y_test, 1)

115 out of 300 = 38.333333333333336% right

### Модель 4

In [70]:
class Model4(nn.Module):
    def __init__(self):
        super(Model4, self).__init__()
        self.fc1 = nn.Linear(len_vector, 3200)
        self.fc2 = nn.Linear(3200, 1600)
        self.fc3 = nn.Linear(1600, 800)
        self.fc4 = nn.Linear(800, 400)
        self.fc5 = nn.Linear(400, 200)
        self.fc6 = nn.Linear(200, 41)
    
    def forward(self, x):
        x = F.hardtanh(self.fc1(x))
        x = F.gelu(self.fc2(x))
        x = F.leaky_relu(self.fc3(x))
        x = F.relu(self.fc4(x))
        x = F.relu6(self.fc5(x))
        x = self.fc6(x)
        return F.log_softmax(x)

In [71]:
model4 = Model4()

In [72]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model4.parameters(), lr=0.01)

In [73]:
epochs = 20
model4_ = train_model(model4, epochs, criterion, optimizer, X_train, Y_train, X_test, Y_test)

epoch:  1  loss: 3.74864435 acc: 0.0
epoch:  2  loss: 2.44236541 acc: 39.333333333333336
epoch:  3  loss: 6.31907415 acc: 20.666666666666668
epoch:  4  loss: 4.06869745 acc: 21.666666666666668
epoch:  5  loss: 5.81263065 acc: 41.333333333333336
epoch:  6  loss: 3.60508275 acc: 36.333333333333336
epoch:  7  loss: 3.34631371 acc: 22.333333333333332
epoch:  8  loss: 2.82444429 acc: 11.0
epoch:  9  loss: 2.52612853 acc: 20.0
epoch: 10  loss: 2.41511869 acc: 40.666666666666664
epoch: 11  loss: 2.33419299 acc: 40.333333333333336
epoch: 12  loss: 2.24451327 acc: 40.666666666666664
epoch: 13  loss: 2.22998405 acc: 41.0
epoch: 14  loss: 2.28688216 acc: 31.333333333333332
epoch: 15  loss: 2.23818707 acc: 30.666666666666668
epoch: 16  loss: 2.20184231 acc: 40.0
epoch: 17  loss: 2.19029498 acc: 40.333333333333336
epoch: 18  loss: 2.13867784 acc: 40.0
epoch: 19  loss: 2.23431635 acc: 41.333333333333336
epoch: 20  loss: 2.04642892 acc: 42.0

In [74]:
test_model(model4_, X_test, Y_test, 1)

118 out of 300 = 39.333333333333336% right