In [1]:
import os
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

# Загрузка датасета

In [41]:
curr_path = os.path.abspath(os.getcwd())
data_path = curr_path[:-22] + 'News_Category_Dataset_v2.json'

In [42]:
df = pd.read_json(data_path, lines=True)

In [43]:
df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [44]:
df.describe()

,category,headline,authors,link,short_description,date
count,200853,200853,200853,200853,200853,200853
unique,41,199344,27993,200812,178353,2309
top,POLITICS,Sunday Roundup,,https://www.huffingtonpost.comhttp://stylelike...,,2013-04-24 00:00:00
freq,32739,90,36620,2,19712,100
first,NaN,NaN,NaN,NaN,NaN,2012-01-28 00:00:00
last,NaN,NaN,NaN,NaN,NaN,2018-05-26 00:00:00

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   link               200853 non-null  object
 4   short_description  200853 non-null  object
 5   date               200853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.2+ MB

In [46]:
# Предобработка

In [47]:
df["news_text"] = df["headline"] + " " + df["short_description"]

In [48]:
data = df[["news_text", "category"]]

In [49]:
data

                                                news_text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200848  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200849  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200850  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200851  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200852  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200853 rows x 2 columns]

In [50]:
def first_value_less(na_stats_sorted, num):
    return [i for i, e in enumerate(list(na_stats_sorted.values)) if e <= num][0]

def find_persentage_of_nan(data):
    na_info = data.isnull()
    sum_na_info = na_info.sum()
    na_stats = sum_na_info / data.shape[0] * 100
    na_stats_sorted = na_stats.sort_values(ascending=False)
    return na_stats_sorted

In [51]:
# находим кол-во nan значений в датасете в процентах
na_stats_sorted = find_persentage_of_nan(data)
na_stats_sorted

news_text    0.0
category     0.0
dtype: float64

In [52]:
len(data.news_text.unique())

200365

In [53]:
len(data.news_text)

200853

In [54]:
news = data[~data.duplicated(subset=["news_text"], keep=False)]

In [55]:
news

                                                news_text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200848  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200849  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200850  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200851  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200852  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200156 rows x 2 columns]

In [56]:
news.category.value_counts()

POLITICS          32702
WELLNESS          17816
ENTERTAINMENT     16050
TRAVEL             9880
STYLE & BEAUTY     9422
PARENTING          8645
HEALTHY LIVING     6687
QUEER VOICES       6307
FOOD & DRINK       6225
BUSINESS           5931
COMEDY             5159
SPORTS             4884
BLACK VOICES       4522
HOME & LIVING      4140
PARENTS            3892
THE WORLDPOST      3664
WEDDINGS           3651
IMPACT             3455
DIVORCE            3420
CRIME              3397
WOMEN              3393
MEDIA              2810
WEIRD NEWS         2670
GREEN              2613
WORLDPOST          2578
RELIGION           2547
STYLE              2243
SCIENCE            2178
WORLD NEWS         2175
TASTE              2095
TECH               2028
MONEY              1706
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
ARTS & CULTURE     1337
ENVIRONMENT        1321
COLLEGE            1144
LATINO VOICES      1129
CULTURE & ARTS     1028
EDUCATION          1004
Name: category, dtype: int64

# Подготовка датасета

In [57]:
#!conda install nltk -y
#!pip install nltk

In [58]:
import nltk
from nltk.corpus import stopwords

In [59]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sarat\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [60]:
stopwords = stopwords.words('english')
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [61]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [62]:
data_news = news.reset_index(drop=True)

In [113]:
# строчка для дебага, не удаляй
data_news = data_news[:1000]

In [65]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sarat\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [75]:
def lemmatize_df(df, stopwords, column):
    lemmatizer = WordNetLemmatizer()
    for i in range(len(df[column])):
        temp_string = ""
        for word in df[column][i].split():
            word = ("".join(e for e in word if e.isalnum()))
            word = word.lower()
            word = lemmatizer.lemmatize(word)
            if not word in stopwords:
                temp_string += word + " "  
            
        df.at[i,column] = temp_string.strip()
    return df

In [76]:
lemmatized_data_news = lemmatize_df(data_news, stopwords, 'news_text')

In [78]:
lemmatized_data_news

                                             news_text       category
0    2 mass shooting texas last week 1 tv left husb...          CRIME
1    smith join diplo nicky jam 2018 world cup offi...  ENTERTAINMENT
2    hugh grant marries first time age 57 actor lon...  ENTERTAINMENT
3    jim carrey blast castrato adam schiff democrat...  ENTERTAINMENT
4    julianna margulies us donald trump poop bag pi...  ENTERTAINMENT
..                                                 ...            ...
995  ny attorney general eric schneiderman resigns ...       POLITICS
996  sanctuary city working trump era surprising co...       POLITICS
997  shepard smith cant say trump pulled iran deal ...          MEDIA
998  stormy daniel find crunchy new way chip away t...     WEIRD NEWS
999  rainbow mountain peru look like theyre straigh...         TRAVEL

[1000 rows x 2 columns]

In [79]:
data_copy = lemmatized_data_news.copy()

In [80]:
from sklearn import preprocessing

In [81]:
encoders = {}

encoder = preprocessing.LabelEncoder()
encoder.fit(data_copy["category"])
data_copy["category"] = encoder.transform(data_copy["category"])
encoders["category"] = encoder

In [82]:
data_copy

                                             news_text  category
0    2 mass shooting texas last week 1 tv left husb...         3
1    smith join diplo nicky jam 2018 world cup offi...         5
2    hugh grant marries first time age 57 actor lon...         5
3    jim carrey blast castrato adam schiff democrat...         5
4    julianna margulies us donald trump poop bag pi...         5
..                                                 ...       ...
995  ny attorney general eric schneiderman resigns ...         9
996  sanctuary city working trump era surprising co...         9
997  shepard smith cant say trump pulled iran deal ...         8
998  stormy daniel find crunchy new way chip away t...        16
999  rainbow mountain peru look like theyre straigh...        15

[1000 rows x 2 columns]

In [83]:
from sklearn.model_selection import train_test_split

In [84]:
data_split = data_copy.copy()
y = data_split['category'].values
x = data_split.drop(['category'], axis=1)

In [85]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.3)

In [86]:
from sklearn.feature_extraction.text import CountVectorizer

In [87]:
vect = CountVectorizer(min_df=10)

In [88]:
X_train['news_text']

779    trump plan prescription drug price look nothin...
654    trump order help chinese phonemaker china appr...
99     chrissy teigen taunt donald trump twitter bloc...
899    hypocrisy melania trump online safety booklet ...
409    steven tyler admits hitting daughter livs famo...
                             ...
475    obama photographer taunt donald trump calling ...
667    pink asks 12yearold concertgoer sing blown awa...
768    woman call police black family bbqing lake oak...
477    prince  knight put gayinclusive twist traditio...
400    state ban bump stock enforce law another conce...
Name: news_text, Length: 700, dtype: object

In [89]:
X_train_review_bow = vect.fit_transform(list(X_train['news_text'])).toarray()
X_test_review_bow = vect.transform(X_test['news_text']).toarray()

# Проверка на правильность обработки и разбиения

In [41]:
# Взяли алгоритм Байеса для проверки подготовленного датасета
# тем самым исключаем ощибки допущенные в постобработке

In [90]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
clf = MultinomialNB()
clf.fit(X_train_review_bow, Y_train)
y_pred = clf.predict(X_test_review_bow)

In [91]:
print ('Test Accuracy: ', accuracy_score(Y_test, y_pred))

Test Accuracy:  0.54

# Нейронные сети: обучение и тесты

In [93]:
#!pip install tensorflow==2.5.0

In [95]:
#!pip install pytorch torchvision torchaudio
#!conda install pytorch torchvision torchaudio -c pytorch -y

In [96]:
import torch
from torch import nn, optim
import torch.nn.functional as F

In [107]:
def train_model(model, epochs, criterion, optimizer, X_train, Y_train):
    losses = []

    for i in range(epochs):
        i += 1
        Y_pred = model.forward(X_train)
        loss = criterion(Y_pred, Y_train)
        losses.append(loss)

        print(f'epoch: {i:2}  loss: {loss.item():10.8f}')

        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        
    return model

In [109]:
def test_model(model, X_test, Y_test):
    counter = 0
    y_test_len = len(Y_test)

    with torch.no_grad():
        for i,data in enumerate(X_test):
            y_val = model.forward(data)
            if y_val.argmax().item() == Y_test[i]:
                counter += 1
    print(f'{counter} out of {y_test_len} = {100*counter/y_test_len:.2f}% right')

In [101]:
X_train = torch.Tensor(X_train_review_bow)
Y_train = torch.LongTensor(Y_train)
X_test = torch.Tensor(X_test_review_bow)
Y_test = torch.LongTensor(Y_test)

In [102]:
len_vector = X_train_review_bow.shape[1]
len_vector

170

### Модель №1

In [103]:
model = nn.Sequential(
        nn.Linear(len_vector, 41),
        nn.ReLU(),
        nn.Linear(41, 41),
        nn.Sigmoid())

In [104]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [111]:
epochs = 4
model  = train_model(model, epochs, criterion, optimizer, X_train, Y_train)

epoch:  1  loss: 3.60690212
epoch:  2  loss: 3.56286407
epoch:  3  loss: 3.51328540
epoch:  4  loss: 3.45996332

In [112]:
test_model(model, X_test, Y_test)

116 out of 300 = 38.67% right

### Модель №2

In [115]:
model_2 = nn.Sequential(
        nn.Linear(len_vector, 2624),
        nn.Linear(2624, 656),
        nn.Linear(656, 164),
        nn.Linear(164, 41),
        nn.Sigmoid())

In [116]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model_2.parameters(), lr=0.01)

In [119]:
epochs = 4
model_2  = train_model(model_2, epochs, criterion, optimizer, X_train, Y_train)

epoch:  1  loss: 3.71692133
epoch:  2  loss: 3.33316135
epoch:  3  loss: 3.09257245
epoch:  4  loss: 3.10073733

In [120]:
test_model(model_2, X_test, Y_test)

13 out of 300 = 4.33% right